<div class="container-fluid container-fluid-custom py-md-5 mb-5">
<main>
    <div class="row py-md-5 text-center justify-centent-center">
        <div class="col-md-11 col-lg-6 mb-6 mb-md-0">
            <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                Write your thoughts down as they come to you.
            </h1>
            <h1>
                <p class="fs-4 mb-4">
                    Notes is a simple to use free notes note taking app made with node.js,ejs and mongodb
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes,it's FREE!</a>
            </h1>
            </div>
            <div class="col-lg-6">
            <img class="girl" src="img/girl.png"></div>
        </div>
    </div>
</main>
</div>