:root{
    --background-color: #ffc7ff;
    --bs-primary-rgb:#12296c;
}

body{
    font-family: 'Poopins',sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
   
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poopins' cursive;
    font-weight: 400;
}
.container-fluid-custom{
     max-width: 1600px;
     
}
/* button */
.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--bs-primary-rgb);
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--bs-primary-rgb);
    --bs-btn-active-border-color: var(--bs-primary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--bs-primary-rgb);
    --bs-btn-disabled-border-color: var(--bs-primary-rgb);
}
.btn-outline {
    --bs-btn-color: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

@media(min-width:1200px){
    .home{
       
    }
}


.home-title::after{
    content:url('../img/light.png');
    position: absolute;
    right: -50px;
    bottom: -30px;
} 
.girl {
    width: 600px;
}
     